
%p
  #{@userName}
%form{:class => "well form-inline", :method => "post", :action => "/tweet"}
  %input{:type => "text", :name => "tweet", :size => "30"}
  %input{:type => "submit", :value => "tweet", :size => "30"}
  %input{:type => "hidden", :value => "#{@userName}", :name => "userName"}

- @twi.each do |text|
  %label
    #{text}

%div{:align => "right"}
  %a{:href => "/login"}
    logout
  %p
    ver 1.1
