%form{:class => "well form-inline", :method => "post", :action => "/login_action"}
  %input{:type => "text", :class => "input-small", :name => "name", :placeholder => "ID"}
  %input{:type => "text", :class => "input-small", :name => "pass", :placeholder => "Password"}
  %input{:type => "submit", :value => "login"}
