!!!
%haml{:lang => "ja"}
  %head
    %meta{:charset => "UTF-8"}
  %body
    %h1
      login
    %form{:method => "get", :action => "/home"}
      %input{:type => "text", :name => "name", :size => "30"}
      %input{:type => "submit", :value => "login", :size => "30"}
