%p
  新規登録

%form{:class => "well form-inline", :method => "post", :action => "/userregist"}
  %input{:type => "text", :class => "input-small", :name => "name", :placeholder => "ID"}
  %input{:type => "text", :class => "input-small", :name => "pass", :placeholder => "Password"}
  %input{:type => "submit", :value => "Regist"}
  